h1{
  color: #295E6A;
}
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

//restaurants page css

.card{
  background-color:  #C1DAD6;
}

.page-footer, .nav-wrapper{
  background-color: #6D929B;
}

.tab a.active {
    background-color: transparent;
    color: black;
  }
  .tabs .tab a {
    color: #C1DAD6;
}
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color:  #6D929B;
}
.tabs .indicator {
    background-color: grey;

}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: transparent;
    outline: none;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #144552;
}
.card-title{
  color: #295E6A;
}

//End restaurants page CSS
