<nav>
  <div class="nav-wrapper">
    <a href="/restaurants" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if(locals.isLoggedIn){ %>
        <li><a href="/logout">Logout (signed in as <%= locals.user.username %>)</a></li>
        <% }else{ %>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>

      <% } %>
      <li><a href="/restaurants">Restaurants</a></li>
      <li><a href="/restaurants/new">Create New Restaurant</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <% if(locals.isLoggedIn){ %>
    <li><a href="/logout">Logout (signed in as <%= locals.user.username %>)</a></li>
  <% }else{ %>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
  <% } %>
  <li><a href="/restaurants">Restaurants</a></li>
  <li><a href="/restaurants/new">Create New Restaurant</a></li>
</ul>
