<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if(locals.isLoggedIn){ %>
        <li><a href="/logout">Logout (signed in as <%= locals.user.username %>)</a></li>
        <% }else{ %>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>

      <% } %>
      <li><a href="/restaurants">Restaurants</a></li>
      <li><a href="/reviews">Reviews</a></li>
      <li><a href="/restaurants/new">Create New Restaurant</a></li>
      <li><a href="/reviews/new">Create New Review</a></li>
    </ul>
  </div>
</nav>
