<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Restaurant-Review</title>
    <%include ./partials/_stylesheet %>
  </head>
  <body>
    <div class="">
      <header class="header">
        <%include ./partials/_header %>
      </header>
      <main>
        <% if(messages.danger){ %>
          <div class="col s12 l12">
            <div class="card red lighten-3">
              <div class="card-content red-text">
                <span class="card-title"><%= messages.danger %></span>
              </div>
            </div>
          </div>
        <% } %>
        <%-body %>
      </main>
      <footer class="page-footer">
        <%include ./partials/_footer %>
      </footer>
    </div>
  </body>
</html>
