<div class="row">
  <h2>Add a new Restaurant</h2>
  <form class='col l12' action="/restaurants" method="post">
    <div class="input-field col l12">
      <input type="text" name="name" id='name_field' required>
      <label for="name_field">Name</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="location" id='location_field' required>
      <label for="location_field">Location</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="phone" id='phone_field'>
      <label for="phone_field">Phone Number</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="email" id='email_field'>
      <label for="email_field">Email</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="website" id='website_field'>
      <label for="website_field">Website</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="food" id='food_field'>
      <label for="food_field">Type of Food</label>
    </div>
    <div class="input-field col l12">
      <button class="green btn">Add Restaurant</button>
    </div>
  </form>
</div>
